@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@font-face {
  font-family: miama-font;
  src: url(miama.ttf);
}
/* Shared style start */
* {
  margin: 0;
}
body {
  background-color: #000000;
  color: white;
}
.container {
  max-width: 1060px;
  margin: 0 auto;
}
.container-1 {
  max-width: 1220px;
  margin: 0 auto;
}
.theme-color-1 {
  color: rgb(230, 83, 60);
}
.theme-color-2 {
  color: rgba(255, 255, 255, 0.5);
}
.btn-1 {
  background-color: rgb(230, 83, 60);
  padding: 12px 20px;
  border-radius: 50px;
}
.btn-2 {
  background-color: rgb(230, 83, 60);
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 18px;
  color: white;
  border: none;
  font-weight: 600;
  width: 250px;
  height: 50px;
}
.btn-3 {
  width: 250px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
}
h1 {
  font-size: 48px;
  font-weight: 900;
}
h2 {
  font-size: 28px;
  font-weight: 900;
}
h3 {
  font-size: 20px;
  font-weight: 900;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
}
.display-flex {
  display: flex;
}
/* Shared style end */

/* Hero section starts */
.hero {
  background-image: linear-gradient(
    180deg,
    rgba(17, 17, 17, 1),
    rgba(119, 119, 119, 0.329),
    rgba(17, 17, 17, 0.349)
  );

  /* background-color: aqua; */
  height: 715px;
  width: 100%;
  margin: 0 auto;
  /* border: 2px solid red; */
}
.navbar {
  padding-top: 3rem;
  align-items: center;
  justify-content: space-between;
}
.logo-name {
  font-size: 36px;
  font-weight: 800;
}
.nav-item a {
  text-decoration: none;
  margin-left: 48px;
  color: rgb(255, 255, 255);
}
.navbar-icon {
  color: white;
  display: none;
}
.banner {
  justify-content: space-between;
  gap: 1rem;
}
.banner-text-content {
  max-width: 50%;
  /* border: 2px solid red; */
  margin-top: 8rem;
  margin-left: 80px;
}

.banner-image-content {
  max-width: 50%;
  /* border: 2px solid blue; */
  margin-top: 2rem;
  position: relative;
  width: 100%;
  margin-left: 9rem;
}
.banner-image-content img {
  position: relative;
}
.banner-text-content h1 {
  font-size: 78px;
  font-weight: 900;
  line-height: 90%;
}
.miama-font {
  font-family: miama-font;
  font-size: 150px;
  line-height: 120%;
  font-weight: 400;
}
.banner-text-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 28px;
}
.btn-container {
  margin-top: 28px;
  gap: 14px;
}
.text-block-1 {
  width: 170px;
  height: 68px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  padding: 30px;
  margin-top: -500px;
  margin-left: 220px;
}
.text-block-1 h2 {
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
}
.text-block-1 p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  margin-top: 5px;
}
.text-block-2 {
  width: 170px;
  height: 64px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  padding: 30px;
  margin-top: 150px;
  margin-left: -120px;
  gap: 20px;
}
.text-block-2 h2 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.3px;
}
.text-block-2 p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 8px;
}
.circle {
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
}
.play {
  display: none;
}
/* change-habits starts */
.change-habits-text-content {
  text-align: center;
  margin-top: 120px;
}
.habit-img-container {
  justify-content: space-between;
  gap: 40px;
}
.habit-img-box {
  width: 235px;
  text-align: center;
  margin-top: 58px;
  gap: 40px;
}
.habit-img-content {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.habit-img-content img {
  border-radius: 50%;
}
.habit-img-box p {
  line-height: 18px;
  margin-top: 0.5rem;
}
.habit-img-content h3 {
}
/* change-habits starts */
/* Run an Extra Mile Easily starts */
.extra-mile-container {
  max-width: 960px;
  padding: 50px;
  text-align: left;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  margin-top: 120px;
  gap: 150px;
}
.extra-mile-text-content {
  width: 50%;
  margin-top: 10px;
}
.extra-mile-text-content h1 {
  margin-bottom: 15px;
}
.extra-mile-text-content p {
  margin-bottom: 35px;
}
.extra-mile-img {
  width: 366px;
  height: 312px;
  width: 50%;
  overflow: hidden;
  border-radius: 18px;
}
.extra-mile-img img {
  width: 100%;
  scale: 3.25;
  margin-left: -180px;
  margin-top: 115px;
}
/* Run an Extra Mile Easily ends */
/* Training styles starts */
.taining-container {
  margin-top: 120px;
  margin-bottom: 120px;
}
.taining-container p {
  margin-top: 15px;
}
.taining-container img {
  width: 100%;
  height: 200px;
}
.row-1 {
  display: grid;
  grid-template-columns: 0.45fr 1fr 0.55fr;
  margin-bottom: 0;
  margin-top: 40px;
}
.row-2 {
  display: grid;
  grid-template-columns: 0.8fr 0.7fr 0.6fr;
}
.exercise-card-1,
.exercise-card-2,
.exercise-card-3,
.exercise-card-4,
.exercise-card-5,
.exercise-card-6 {
  position: relative;
  margin-bottom: -5px;
}
.exercise-card-1 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97.7%;
  background-color: rgba(6, 255, 210, 0.5);
  z-index: 1;
}
.exercise-card-1 .exercise {
  position: absolute;
  top: 150px;
  left: 20px;
  color: white;
  font-size: 14px;
  z-index: 2;
}
.exercise-card-2 .exercise {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 14px;
  z-index: 2;
}
.exercise-card-3 .exercise {
  position: absolute;
  top: 130px;
  left: 20px;
  color: white;
  font-size: 14px;
  z-index: 2;
}
.exercise-card-4 .exercise {
  position: absolute;
  top: 20px;
  left: 170px;
  color: white;
  font-size: 14px;
  z-index: 2;
}
.exercise-card-5 .exercise {
  position: absolute;
  top: 130px;
  left: 20px;
  color: white;
  font-size: 14px;
  z-index: 2;
}
.exercise-card-6 .exercise {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 14px;
  z-index: 2;
}
.exercise-card-2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97.7%;
  background-color: rgba(255, 0, 0, 0.3);
  z-index: 1;
}
.exercise-card-3 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97.7%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.exercise-card-4 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97.7%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.exercise-card-5 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97.7%;
  background-color: rgba(66, 255, 0, 0.3);
  z-index: 1;
}
.exercise-card-6 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97.7%;
  background-color: rgba(0, 71, 255, 0.3);
  z-index: 1;
}
/* Training styles ends */
.join-today-container {
  margin-bottom: 80px;
}
.join-today-text-content p {
  text-align: center;
}
.join-today-container h1 {
  margin-bottom: 10px;
  text-align: center;
}
.join-today-text-content p {
  margin-bottom: 30px;
}
.join-card-1,
.join-card-2,
.join-card-3 {
  text-align: left;
}
.join-card-1 h3,
.join-card-2 h3,
.join-card-3 h3 {
  margin-bottom: 10px;
}
.join-card-1 p,
.join-card-2 p,
.join-card-3 p {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
}
.join-choose-card-container {
  gap: 20px;
  margin-bottom: 30px;
}
.join-card-1 {
  border: 1px solid #ffffff80;
  border-radius: 1rem;
  padding: 20px;
}
.join-card-2 {
  border: 2px solid rgb(230, 83, 60);
  border-radius: 1rem;
  padding: 20px;
}
.join-card-3 {
  border: 1px solid #ffffff80;
  border-radius: 1rem;
  padding: 20px;
}
.circle-1 {
  height: 25px;
  width: 25px;
  margin-bottom: 15px;
  border-radius: 50%;
  border: 2.5px solid rgba(255, 255, 255, 0.6);
  background-color: rgb(34, 34, 34);
}
.circle-2 {
  height: 25px;
  width: 25px;
  margin-bottom: 15px;

  border-radius: 50%;
  border: 3px solid rgb(230, 83, 60);
  background-color: rgba(255, 255, 255, 0.6);
}
.c-btn {
  align-items: center;
  justify-content: center;
  justify-content: center;
}
/* BMI Calculator style starts */
.bmi-calculator-text {
  margin: 0 auto;
  text-align: center;
}
.bmi-calculator-container {
  background-color: rgb(34, 34, 34);
  width: 100%;
  padding: 0 0 50px 0;
}
.bmi-calculator-chart h2 {
  margin-bottom: 20px;
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 0.5px solid #ffffff80;
  color: #ffffff80;
  padding: 12px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}
th {
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.bmi-calculator-container {
  margin-top: 30px;
}
.bmi-calculator-chart {
  width: 40%;
  margin-top: 50px;
}
.calculator-your-bmi {
  width: 60%;
  margin-top: 50px;
}
.calculator-your-bmi h2 {
  margin-bottom: 10px;
}
.calculator-your-bmi p {
  margin-bottom: 20px;
}
.input-row-1 {
  justify-content: space-between;
  margin-bottom: 10px;
}
.input-row-2 {
  justify-content: space-between;
  margin-bottom: 10px;
}
.input-row-3 {
  margin-bottom: 25px;
}
.input-row-1 input {
  margin-bottom: 0px;
  width: 39.5%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: #ffffff80;
  padding: 12px 40px 12px 20px;
}
.input-row-2 input {
  margin-bottom: 0px;
  width: 39.5%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: #ffffff80;
  padding: 12px 40px 12px 20px;
}
.input-row-2 select {
  margin-bottom: 0px;
  width: 48.8%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: #ffffff44;
  padding: 12px 40px 12px 20px;
}
.input-row-3 select {
  margin-bottom: 0px;
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: #ffffff44;
  padding: 12px 40px 12px 20px;
}
/* BMI Calculator style end */
/* Meet team style starts */
.meet-team {
  margin-top: 100px;
  text-align: center;
}
.meet-team-image-container {
  width: 100%;
  padding: 20px;
  background-color: rgb(34, 34, 34);
  border-radius: 18px;
  margin-bottom: 120px;
  margin-top: 50px;
  text-align: left;
}
.meet-team-image-container img {
  height: 280px;
  width: 100%;
  border-radius: 16px;
}
.team-row-1,
.team-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.team-row-2 {
  margin-top: 20px;
  margin-bottom: 0;
}
.team-card {
  position: relative;
}
.team-card .team {
  position: absolute;
  top: 220px;
  left: 20px;
}
.footer {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 0 15px 0;
}
.footer-container {
  justify-content: space-between;
  gap: 100px;
}
.footer-1 {
  width: 50%;
  margin-top: 50px;
}
.footer-2 {
  width: 30%;
  margin-top: 50px;
}
.footer-3 {
  width: 30%;
  margin-top: 50px;
}

.footer-1 h1 {
  font-size: 70px;
  font-weight: 800;
}
.footer-2 h3,
.footer-3 h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 25px;
}
.footer-2 p,
.footer-3 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 20px;
}
.footer-container-2 {
  margin-top: 30px;
  text-align: center;
}
.footer-container-2 p {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 20px;
}
.hr {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}
/* Meet team style ends */

/* RESPONSIVE FOR SMALL DEVICE */
@media screen and (max-width: 576px) {
  .container {
    max-width: 85%;
  }
  .container-1 {
    max-width: 85%;
    margin-top: 52px;
    /* border: 2px solid red; */
  }
  h1 {
    font-size: 32px;
    font-weight: 900;
  }
  h2 {
    font-size: 18px;
    font-weight: 900;
  }

  .banner,
  .habit-img-container,
  .extra-mile-container,
  .bmi-calculator-content,
  .footer-container,
  .join-choose-card-container {
    flex-direction: column;
  }
  .nav-item {
    display: none;
  }
  .navbar-icon {
    display: block;
  }
  .banner-text-content {
    max-width: 100%;
    margin: 0 auto;
    margin-left: 0px;
  }
  .banner-text-content h1 {
    font-size: 2.3rem;
    line-height: 40%;
  }
  .miama-font {
    font-family: miama-font;
    font-size: 80px;
    line-height: 120%;
    font-weight: 400;
  }
  .banner-image-content {
    max-width: 100%;
    /* border: 2px solid blue; */
    width: 100%;
    position: relative;
    margin: 0;
  }
  .banner-image-content img {
    position: relative;
    width: 100%;
    /* border: 2px solid green; */
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .text-block-1 {
    width: 120px;
    height: auto;
    margin-top: -500px;
    margin-left: 190px;
    padding: 15px;
  }
  .text-block-1 h2 {
    font-size: 30px;
  }
  .text-block-1 p {
    font-size: 9px;
  }
  .text-block-2 {
    width: 150px;
    height: auto;
    padding: 15px;
    margin-top: 120px;
    margin-left: 0px;
  }
  .text-block-2 h2 {
    font-size: 18.14px;
    font-weight: 900;
  }
  .text-block-2 p {
    font-size: 12.1px;
    font-weight: 400;
  }
  .play {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
  }
  .btn-2 {
    padding: 10px 15px;
    font-size: 17px;
  }
  /* Change your habit responsive  */

  .change-habits-container {
    margin-top: 370px;
  }
  .habit-img-container {
    margin-top: 40px;
  }
  .habit-img-box {
    margin-top: 10px;
    margin: 0 auto;
  }
  /* Run an Extra Mile Easily responsive starts */
  .extra-mile-container {
    padding: 0px;
    width: 85%;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .extra-mile-text-content {
    width: 83%;
    margin: 35px;
  }
  .extra-mile-text-content .btn-2 {
    width: 95%;
  }
  .extra-mile-img {
    margin: 0 auto;
    width: 366px;
    height: 212px;
    width: 85%;
    border-radius: 18px;
    margin-top: -150px;
    margin-bottom: 30px;
  }
  .extra-mile-img img {
    width: 100%;
    scale: 1.5;
    margin-left: 0px;
    margin-top: 20px;
    object-fit: contain;
  }
  /* Trining starts */
  .taining-container {
    margin-top: 60px;
  }
  .taining-container img {
    height: 128px;
  }
  .row-1 {
    grid-template-columns: 1fr 1fr;
  }
  .row-2 {
    grid-template-columns: 1fr 1fr;
  }
  .exercise-card-3,
  .exercise-card-6 {
    display: none;
  }
  .exercise-card-1 .exercise {
    top: 60px;
    left: 10px;
  }
  .exercise-card-2 .exercise {
    top: 30px;
    left: 10px;
  }
  .exercise-card-4 .exercise {
    top: 30px;
    left: 10px;
  }
  .exercise-card-5 .exercise {
    top: 30px;
    left: 10px;
  }
  /* Trining end*/
  /* Join Today starts */
  /* Join Today ends */
  /* BMI starts */
  .bmi-calculator-chart {
    width: 100%;
  }
  .calculator-your-bmi {
    width: 100%;
  }
  /* BMI end */

  .team-row-1,
  .team-row-2 {
    grid-template-columns: 1fr;
    overflow: hidden;
    width: 100%;
  }
  .meet-team-image-container {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .meet-team-image-container img {
    width: 100%;
  }
  .input-row-1 input {
    max-width: 110px;
  }
  .input-row-2 input {
    max-width: 110px;
  }
  .input-row-2 select {
    max-width: 172px;
  }
  /* footer  */
  .footer {
    margin-top: 50px;
  }
  .footer-container {
    gap: 0;
  }
  .footer-1,
  .footer-2,
  .footer-3 {
    width: 100%;
    margin-top: 30px;
  }
}
